.app {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  height: 50px;
  background-color: black;
  color: white;
  align-items: center;
}

.navbar__logo {
  font-weight: 600;
  text-decoration: none;
}

.navbar__menu{
  position: absolute;
}

.navbar__pageNav{
  align-items: center;
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.navbar__pageNav > li {
  text-decoration: none;
  list-style: none;
  font-weight: 600;
}

.navbar__pageNav > li a, .navbar__logo a {
  text-decoration: none;
  color: none;
}

a:link, a:hover, a:visited, a:active {
  color: white;
}

